<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSFaceIDUsageDescription</key>
	<string>Use system authentication to authorize viewing saved server credentials. / 使用系统身份验证授权查看已保存的服务器凭据。</string>
</dict>
</plist>
